# use applescripts to open prerelease environments with iterm
alias prenative="/Users/$(whoami)/qol_scripts/native_prerelease.applescript"
alias prephp="/Users/$(whoami)/qol_scripts/php_prerelease.applescript"
alias prelua="/Users/$(whoami)/qol_scripts/lua_prerelease.applescript"

# open anybot repositories
alias ab="code /Users/$(whoami)/Evolany/anybot"
alias ab-lua="code /Users/$(whoami)/Evolany/anybot-lua"
alias ab-native="code /Users/$(whoami)/Evolany/anybot-native"

# Check folder contents
alias l="ls -al"

# Open the qol_scripts repo
alias qol="code /Users/$(whoami)/qol_scripts"

# Open the .aliases file
alias aliases="code /Users/$(whoami)/.aliases"

# Open the .zshrc file
alias zshrc="code /Users/$(whoami)/.zshrc"

